<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> | <%= t('common.name') %></title>
  <meta name="description" content="<%= yield :description %>"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "all", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
</head>

<body class="<%= body_class %>">

<%= render "layouts/header" %>

<% if notice %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert"><%= alert %></p>
<% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
