<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> | <%= t('common.name') %></title>
  <meta name="description" content="<%= yield :description %>" />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
</head>
<body>


<%= render "layouts/breadcrumbs" %>
<p class="notice"><%= notice %></p>

<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
